/*
 * The field 'font-display' is added for Google-fonts.
 *
 * See: <https://fonts.google.com/>
 *
 */

// @import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed:400,700|Source+Sans+Pro:400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'IBMPlexSansKR';
    font-weight: 700;
    src: url(./fonts/IBMPlexSansKR-Bold.woff2) format('woff2'),url(./fonts/IBMPlexSansKR-Bold.woff) format('woff')
}
@font-face {
    font-family: 'IBMPlexSansKR';
    font-weight: 100;
    src: url(./fonts/IBMPlexSansKR-ExtraLight.woff2) format('woff2'),url(./fonts/IBMPlexSansKR-ExtraLight.woff) format('woff')
}
@font-face {
    font-family: 'IBMPlexSansKR';
    font-weight: 200;
    src: url(./fonts/IBMPlexSansKR-Light.woff2) format('woff2'),url(./fonts/IBMPlexSansKR-Light.woff) format('woff')
}
@font-face {
    font-family: 'IBMPlexSansKR';
    font-weight: 500;
    src: url(./fonts/IBMPlexSansKR-Medium.woff2) format('woff2'),url(./fonts/IBMPlexSansKR-Medium.woff) format('woff')
}
@font-face {
    font-family: 'IBMPlexSansKR';
    font-weight: 300;
    src: url(./fonts/IBMPlexSansKR-Regular.woff2) format('woff2'),url(./fonts/IBMPlexSansKR-Regular.woff) format('woff')
}
@font-face {
    font-family: 'IBMPlexSansKR';
    font-weight: 600;
    src: url(./fonts/IBMPlexSansKR-SemiBold.woff2) format('woff2'),url(./fonts/IBMPlexSansKR-SemiBold.woff) format('woff')
}
@font-face {
    font-family: 'IBMPlexSansKR';
    font-weight: 400;
    src: url(./fonts/IBMPlexSansKR-Text.woff2) format('woff2'),url(./fonts/IBMPlexSansKR-Text.woff) format('woff')
}

